/*Desktop*/


body {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background: white;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2%;
  
}
 

h1, h2{
  font-weight: 700;
  font-size: 1.3rem;
  height: 1.5rem;
}
 
h3{
  font-weight: 700;
  margin: 0;
}

h4{
  font-weight: 700;
  font-size: 1.1rem;
  height:1.3rem;
  margin: 0;
}


a{
  text-decoration: none;
  color: #000000;
}
  
.icon{
  color: #0065FC;
  
}

.greyicon{
  color: #F2F2F2;
}


.colored-section{
  background-color: #F2F2F2;
}

/* Navigation bar */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-links {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.nav-links li {
  display: inline;
  box-sizing: border-box;
  
  
}
.anav {
  display: inline-block;
  border-top:2px solid white;
  padding: 1.8em;
}

.anav:hover{
  border-top:2px solid #0065fc;

  color: #0065FC;
}



.logo {
  cursor: pointer;
  width: 3.8rem;
  height: 1.2rem;
  left: 0px;
  top: 0px;
} 



/* Title Section */

#title {
  text-align: left;
  padding: 5px 20px;
  
}


/* Search Bar */


form{
  display: flex;
}

.searchicon {
  
  min-width: 3.1em;
  min-height: 3.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  background-color: #F2F2F2;
}



.searchbar {
  font-weight: 700;
  font-size: 1rem;
  padding-left: 15px;
  color: black;
  border: 1px solid #F2F2F2 ;
}

.searchbutton{
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: #0065FC;
  border: 1px #0065FC;
  border-radius: 0 15px 15px 0;
  padding: 15px 16px;
}

.searchloupe{
  display: none;
}


/* Filtres */


.blockfiltres{
  display: flex;
  flex-direction: row;  
  align-items: center;
  padding: 30px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  color: #000000;

}

#filtitle{
  padding: 10px 10px 10px 0;
  font-size: 1.1rem;
}

.filtres{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin:0;
}



.divfiltre{
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #D9D9D9;
  text-align: center;
  padding: 10px 10px;
  margin: 5px;
}

.divfiltre:hover{
  background-color:#DEEBFF;
}

.iconfiltre{
  padding-right: 15px;
}


/* Information */

.infoicon{
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pinfo{
  padding-left: 15px;
}

/* Hébergements et recherches populaires */

.hebpop{
  margin-top: 3%;
display: flex;
flex-direction: row;
justify-content: space-between;

}



/* Hébergements */

#hebergements {
  border-radius: 20px;
  width: 60%;
  padding: 2%;
}

.hebtitle{
  margin-bottom: 5%;
}

.cardheb{
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 5%;
}

.hebergement-col {
   
  border-radius: 20px;
  width: 30%;
  background-color: white;
  border: 3px solid white;
 
  
  box-shadow: 2px 2px  #D9D9D9;

  
}

.imghebergements{
  object-fit: cover;
  Width: 100%;
  Height: 7.7rem;
  border-radius: 20px 20px 0 0;
}

.pheb{
  padding: 10px;
  white-space: nowrap;
}


/* Les plus populaires */

#populaires {
  border-radius: 20px;
  width: 30%;
  padding: 2%;
}


.poptitle{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 5%;
}

.cardpop{
  display: flex;
  flex-direction: column;
  align-items: center;

}


.populaires-col {
  margin-bottom: 10%;
  border-radius: 20px;
  object-fit: contain;
  height: 9rem;
  border : 3px solid white;
  background-color: white;
  box-shadow: 2px 2px  #D9D9D9;
  width: 100%;
  
}

.pright{
  display: inline-block;
  position: absolute;
  width: 15%;
  padding: 10px 10px;
white-space: normal;
}



.imgpopulaires{
  display: inline-flex;
  object-fit: cover;
  Width: 8.5em;
Height:100%;
  border-radius: 20px 0 0 20px;
}

/* Activités */

#activites{
  margin: 5% 0 5% 0;
  
}


.cardactivites{
display: flex;
justify-content: space-between;
}


.activites-col {
  
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px #D9D9D9;
  width: 23%;
}

.imgactivites{
  
  object-fit: cover;
  Width:100%;
  Height:445px;
  border-radius: 20px 20px 0 0;
}

.activitename{
  padding: 20px 0 20px 20px;
}

/* Footer */

.footer{
  padding: 5% 5%;
  display: flex;
flex-direction: row;
justify-content:flex-start;
align-items: flex-start;

}

.footer-col {
 margin-right: auto;
  position: relative;
  display: inline-block;
  
}



/*----------------------Mobile---------------------------------*/
@media screen and (max-width: 768px) {


body {
 padding: 0;
  margin-top: 5%;
}

h1{
  margin-bottom: 40px;
}

.title{
  padding: 15px 25px;
}

/* Navigation bar */

header{
  display: block;
 text-align: center;
  
}

.nav-links {
  display: flex;
  text-align: center;
padding: 0;

}

.nav-links li {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  border-top:2px solid white;
}


.anav:hover{
  border-top: 0;
  border-bottom: 2px solid #0065fc;
  color: #0065FC;
width: 100%;
}

/*Searchbar*/

form{
  justify-content: center;

}

.searchbar{
  width: 50vw;
}

.searchbutton{
  display: none;
}

.searchloupe{
  display: inline;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  background-color: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0 15px 15px 0;
  padding: 15px 16px;
}

/* Filtres */

.blockfiltres{
  display: block;
}
#filtitle{
  padding-left: 25px;
}
.filtres{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
  
}


.divfiltre{
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #D9D9D9;
  Width:47%;
  text-align: left;
  white-space: nowrap;
}  

.divfiltre:hover{
  background-color:white;
}

.iconfiltre{
  padding-right: 5px;
}

.divfiltre a{
  font-size: small;
}

.info {
  padding-left: 25px;
}

/* Hébergements et recherches populaires */

.hebpop{
  margin-top: 3%;
display: flex;
flex-direction:column-reverse;
}

/* Hébergements */

#hebergements {
  border-radius: 20px;
  width: 100%;
  background-color: white;
  padding: 0;
}

#hebergements h2{
  padding-left: 25px;
}

.cardheb{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 100vw;
}

.hebergement-col {
  width: 90%;
  margin-bottom: 5%;
}

.imghebergements{
  Width: 100%;
  Height: 7.7rem;
}

.hebplus{
  display: none;
}

/* Les plus populaires */

#populaires {
  border-radius: 0;
  width: 100vw;
  margin-bottom: 5%;
  padding: 0;
}

.poptitle{
  padding: 0 25px 0 25px;
}

.populaires-col {
  height: 200px;
  width: 90%;
  margin-bottom: 5%;
}

.imgpopulaires{
Height:100%;
width: 35%;
}

.pright{
  width: 50%;
}

/* Activités */

#activites{
  margin: 10% 0 10% 0;
  width: 100vw;
}

#activites h2{
  width: 25%;
  padding: 0 0 20px 25px;
}

.cardactivites{
display: flex;
flex-direction: column;
align-items: center;
}


.activites-col {
  
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px #D9D9D9;
  width: 90%;
  margin-bottom: 5%;
}

.imgactivites{
  
  object-fit:cover;
  Width:100%;
Height:190px;
border-radius: 20px 20px 0 0;
}

/* Footer */

.footer{
  padding: 0;
  display: flex;
flex-direction: column;
width: 100vw;
}

.footer-col {
  padding: 25px;
}

}




/*----------------------Tablette-----------------------------*/
@media (min-width: 768px) and (max-width:992px){

.blockfiltres{
  flex-wrap: wrap;
}


/* Hébergements et recherches populaires */

.hebpop{
  margin-top: 3%;
  display: flex;
  flex-direction:column;
}

/* Hébergements */

#hebergements {
  border-radius: 20px;
  width: 96%;
  padding: 2%;
}

.hebtitle{
  margin-bottom: 5%;
}
.cardheb{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 5%;
}

.hebergement-col {
   
  border-radius: 20px;
  width: 30%;
  background-color: white;
  border: 3px solid white;
  box-shadow: 2px 2px  #D9D9D9;  
}

.imghebergements{
  object-fit: cover;
  Width: 100%;
  Height: 7.7rem;
}

.pheb {
  padding: 5px;
  font-size: small;
}

/* Les plus populaires */

#populaires {
  border-radius: 20px;
  width: 100%;
  margin-top: 5%;
  padding: 15px 0 15px 0;
}


.poptitle{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0 15px 0 15px;
}

.cardpop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

.populaires-a{
  display: flex;
}

.populaires-col {
  border-radius: 20px;
  border : 3px solid white;
  background-color: white;
  box-shadow: 2px 2px  #D9D9D9;
  margin: 0 15px 0 0;
  
}

.pright{
  position: relative;
  width: auto;
  font-size: small;
}

.popicon{
  display: flex;

}

.imgpopulaires{
  object-fit: cover;
  Width: 37%;
Height:144px;
  border-radius: 20px 0 0 20px;
}
    

/* Activités*/

.cardactivites{
  flex-direction: row;
}

.activites-col {
  margin-bottom: 0;
  width: 24%;
  }

.imgactivites{
  
  object-fit: cover;
  Width:100%;
  Height:267px;
  border-radius: 20px 20px 0 0;
}

.activitename{
  align-items: center;
  display: flex;
  padding: 15px;
  font-size: small;
}

.footer-col{
  margin-right: auto;
  padding-right: 0;
}

}